<%= h(@message) %>
<% form_remote_for :cruise,  :url => { :action => :create_cruise}, :update => "entry" do |form| %>
<p>Create <input type="radio" name="entry_type" <%= @create_radio %> value="Create"> Update<input type="radio" name="entry_type" <%= @update_radio %> value="Update"></p>
<table>
  <tr>
    <td>ExpoCode:<%= error_message_on(:cruise, :ExpoCode) %></td>
    <td><%= form.text_field :ExpoCode %><div class="auto_complete" id="expocode_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('cruise_ExpoCode','expocode_auto_complete',expocodes,{fullSearch: true, frequency: 0, minChars:1});")%></td>
    <td rowspan=120 valign="top"><div id="param_div"><table>
      <% if @form_parameters %>
        <% for par in @form_parameters.keys %>
          <% unless par =~ /(_PI)|(_Date)|(_day)|(_year)|(_month)/ %>
            <tr><td><%= h(par) %></td><td><input type="hidden" name="<%= h(par) %>" value="<%= h(par) %>"><input name="<%= h(par) %>_PI" value="<%= @form_parameters["#{par}_PI"] %>"></td>
              <td>
                <select id="<%= par %>_status" name="<%= par %>_status" >
                <option></option>
                <option<% if @form_parameters["#{par}"] =~ /Proposed/ %> selected="true"<% end %>>Proposed</option>
                <option<% if @form_parameters["#{par}"] =~ /On_Line/ %> selected="true"<% end %>>On_Line</option>
                <option<% if @form_parameters["#{par}"] =~ /Submitted/ %> selected="true"<% end %>>Submitted</option>
                <option<% if @form_parameters["#{par}"] =~ /Not_Measured/ %> selected="true"<% end %>>Not_Measured</option>
                <option<% if @form_parameters["#{par}"] =~ /No_Information/ %> selected="true"<% end %>>No_Information</option>
                <option<% if @form_parameters["#{par}"] =~ /Reformatted/ %> selected="true"<% end %>>Reformatted</option>
                </select>
              </td>      
              <td>
                <input name=<%= h(par) %>_year value="<%= @form_parameters["#{par}_year"] %>" size=4>
                <input name=<%= h(par) %>_month value="<%= @form_parameters["#{par}_month"] %>" size=2>
                <input name=<%= h(par) %>_day value="<%= @form_parameters["#{par}_day"] %>" size=2>
            </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table></div></td>
  </tr>
  <tr valign="top"><td>Line:<%= error_message_on(:cruise, :Line) %></td><td> <%= form.text_field :Line %></td></tr>
  <tr valign="top"><td>Country:<%= error_message_on(:cruise, :Country) %></td><td> <%= form.text_field :Country %><div class="auto_complete" id="Country_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('cruise_Country','Country_auto_complete',countries,{fullSearch: true, frequency: 0, minChars:1});")%></td></tr>
  <tr valign="top"><td>Chief Scientist:<%= error_message_on(:cruise, :Chief_Scientist) %></td><td> <%= form.text_field :Chief_Scientist %><div class="auto_complete" id="Chief_Scientist_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('cruise_Chief_Scientist','Chief_Scientist_auto_complete',pis,{fullSearch: true, frequency: 0, minChars:1});")%></td></tr>
  <tr valign="top"><td>Ship Name:<%= error_message_on(:cruise, :Ship_Name) %></td><td> <%= form.text_field :Ship_Name %><div class="auto_complete" id="Ship_Name_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('cruise_Ship_Name','Ship_Name_auto_complete',ships,{fullSearch: true, frequency: 0, minChars:1});")%></td></tr>
  <tr valign="top"><td>Begin Date:<%= error_message_on(:cruise, :Begin_Date) %></td><td> <%= form.date_select :Begin_Date, :start_year => 1965, :end_year => 2010 %></td></tr><tr valign="top"><td>End Date:<%= error_message_on(:cruise, :EndDate) %></td><td> <%= form.date_select :EndDate,:start_year => 1965, :end_year => 2010 %></td></tr><tr valign="top"><td>Alias:<%= error_message_on(:cruise, :Alias) %></td><td> <%= form.text_field :Alias %></td></tr>
  <tr valign="top"><td>Group:<%= error_message_on(:cruise, :Group) %></td><td> <%= form.text_field :Group %></td></tr>
  <tr valign="top"><td colspan="2">
  <table>
    <tr><td colspan="4">
        Parameter: <input type="text_field" id="parameter" name="parameter" size="9" /><div class="auto_complete" id="parameters_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('parameter','parameters_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});") %>
        PI: <input type="text_field" id="parameter_pi" name="parameter_pi" size="18" /><div class="auto_complete" id="param_pi_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('parameter_pi','param_pi_auto_complete',pis,{fullSearch: true, frequency: 0, minChars:1});")%></td>
    </tr>
     <tr><td>Year Month Day</td><td colspan="2"></td></tr>
       <tr>
         <td>
         <input type="text_field" id="param_year" name="param_year" size="4"/>
         <input type="text_field" id="param_month" name="param_month" size="2"/>
         <input type="text_field" id="param_day" name="param_day" size="2">
         </td>
         <td colspan="2">
           <select id="parameter_status" name="parameter_status" >
           <option>Proposed </option>
           <option>On_Line</option>
           <option>Submitted</option>
           <option>Not_Measured</option>
           <option>No_Information</option>
           <option>Reformatted</option>
           </select>
           <%= link_to_remote("Enter Parameter",:url=>{:controller=>'data_entry',:action =>'update_parameters'})%>
           </td>
       </tr>
  </table>
  </td>
  </tr>
</table>
<%= submit_tag value="Update" %>
<% end %>

<div id="results">
</div>
