<table border="0" cellspacing="5" cellpadding="5" width="100%">
		<% if (@events[0]) %>
	<tr><th></th></tr>
	<tr>
		 <td><strong>Line Number: </strong><%= @cruise.Line %> <br><strong>ExpoCode: </strong><%= @events[0].ExpoCode %> </td>		
	</tr>
</table>	
<div id="note">
<% if @note %>
	 <%= render :partial => 'note' %>
<% end %>
</div>
<table width="80%">
	<tr>
		<td align="center">Sort: 
			<%= link_to_remote("Date",:update => "events",:url=>{:action =>'display_events',:ExpoCode => "#{@events[0].ExpoCode}",:Sort => "Date_Entered"})%>
         | <%= link_to_remote("Name",:update => "events",:url=>{:action =>'display_events',:ExpoCode => "#{@events[0].ExpoCode}",:Sort => "LastName"})%>
         | <%= link_to_remote("Data Type",:update => "events",:url=>{:action =>'display_events',:ExpoCode => "#{@events[0].ExpoCode}",:Sort => "Data_Type"})%>
        </td>
		<td align="right">
			<a href="/search">New Search</a>
		</td>
	</tr>
</table>

<table frame="none" rules="rows" cellspacing="0" align="center">
	<tr id="data_summary_header">
		<td>Date</td><td>Person</td><td>Data Type</td><td>Action</td><td>Summary</td>
	</tr>
	<% for cnt in 0..@events.length()-1 %>
	   <% if (not @events[cnt].Date_Entered)%> <% @Date_Entered = "&nbsp"  %> <% else %> <% @Date_Entered= @events[cnt].Date_Entered %><% end %>
	   <% if (not @events[cnt].LastName =~ /\w/)%> <% @LastName = "&nbsp"  %> <% else %> <% @LastName= @events[cnt].LastName %><% end %>
	   <% if (not @events[cnt].Data_Type=~ /\w/)%> <% @Data_Type = "&nbsp"  %> <% else %> <% @Data_Type= @events[cnt].Data_Type %><% end %>
	   <% if (not @events[cnt].Action=~ /\w/)%> <% @Action = "&nbsp"  %> <% else %> <% @Action= @events[cnt].Action %><% end %>
	   <% if (not @events[cnt].Summary =~ /\w/)%> 
		 <% @Sum_Link = " "  %>
		 <% @Summary= "None" %>
		 <% @end= " " %> 
	   <% else %> 
	   	 <% @Summary = @events[cnt].Summary %>
		 <% @Sum_Link= "<a href=\"/data_history?ExpoCode=#{@events[cnt].ExpoCode}&Entry=#{@events[cnt].ID}&Sort=#{@cur_sort}&Note=true\">"%>
     	 <% @end = "</a>" %>
	   <% end %>
	
	   <tr id="doc_cell">
		 <td class="Hist_Cell"><b><%= @Date_Entered %></b></td>
		 <td class="Hist_Cell"><em><%= @LastName %> </em>   </td>
		 <td class="Hist_Cell"><%= @Data_Type %>   </td>
		 <td class="Hist_Cell"><%= @Action %>   </td>
		 <td class="Hist_Cell"> <%= link_to_remote("#{@Summary}",:update => "note",:url=>{:action =>'note',:Entry => "#{@events[cnt].ID}"})%>
	     </td>
	   </tr>
	<% end %>
	<% else %>
	<h4>Cruise history not found</h4>
	<% end %>
</table>
