<table cellspacing="0" width="100%">
  <tr><th>Date Entered</th><th>Person</th><th>Date Type</th><th>Summary</th></tr>
  <tr>
    <td><% if @note_entry %><b><%= h(@note_entry.Date_Entered) %></b><% end %></td>
    <td><em><%= h(@note_entry.LastName) %>, <%= h(@note_entry.First_Name) %></em></td>
    <td><%= h(@note_entry.Data_Type) %></td>
    <td><%= h(@note_entry.Summary) %></td>
  </tr>
</table>
<div>
<h3>Detailed Notes</h3>
<%= h(@note_entry.Note) %>
</div>
