<% if @assignments %>
<h1>Assignments</h1>
<% form_remote_tag :url => {:action => "search_assignments", :query => @query, :complete => @show_completed}, :update => 'results' do %>
  <table>
  <% @ctr = 0 %>
  <% @assignments.each do |@assignment| %>
    <% @ctr += 1 %>
    <% id = @assignment.id %>

    <% if @ctr % 7 == 1 %>
    <tr class='tm_header'>
      <th width='30'><%= link_to_remote "Project/Line", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "project" } %></th>
      <th width='20'><%= link_to_remote "Parameter", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "parameter" } %></th>
      <th width=''><%= link_to_remote "Action", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "cchdo_contact" } %></th>
      <th width='160'><%= link_to_remote "Responsible", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "cchdo_contact" } %></th>
      <th width='120'><%= link_to_remote "Contact", :update => "results",:url => { :action => "search_assignments", :query => @query, :complete =>@show_completed,  :Sort => "data_contact" } %></th>
      <th width='120'><%= link_to_remote "Pri.", :update => "results",:url => { :action => "search_assignments", :query => @query, :complete =>@show_completed,  :Sort => "priority" } %></th>
    </tr>       
    <% end %>
    <tr><td colspan="6"><table>
      <tr<%if @ctr % 2 == 0 %> class="hl"<% end %>>
        <td width='30'><%= text_field("assignment[]", 'project' ,"size" => 20) %></td>
        <td width='10'><%= text_field("assignment[]", 'parameter' ,"size" => 10) %><div class="auto_complete" id="parameters_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('assignment_#{id}_parameter','parameters_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});")%></td>
        <td width=''><%= text_field("assignment[]", 'action' ,"size" => 36) %></td>
        <td width='160'><%= text_field("assignment[]", 'cchdo_contact' ,"size" => 10) %></td>
        <td width='120'><%= text_field("assignment[]", 'data_contact',"size" => 10) %></td>
        <td width='120'><%= text_field("assignment[]", 'priority',"size" => 2) %></td>
      </tr>
      <tr<%if @ctr % 2 == 0 %> class="hl"<% end %>><td colspan='9'>
         <p><%= link_to_remote "Details", :url => {:action => 'toggle', :id => "#{@assignment[:id]}_details"} -%></p>
         <div id=<%= @assignment[:id] %>_details style="display: none;">
           <table>
             <tr><th>ExpoCode</th><th>Parameter</th><th>Status</th><th>Deadline</th></tr>
             <tr>
               <td><%= text_field("assignment[]", 'ExpoCode',"size" => 16) %><div class="auto_complete" id="expocodes_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('assignment_#{id}_ExpoCode','expocodes_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});")%></td>
               <td><%= text_field("assignment[]",'parameter') %></td>
               <td><%= text_field("assignment[]",'current_status') %></td>
               <td><%= text_field("assignment[]", 'deadline',"size" => 10) %></td>
             </tr>
           </table>
           <h1>Notes</h1>
           <%= text_area("assignment[]",'notes',"rows" => 10,"cols" => 96) %>
           <h1>History</h1>
           <%= text_area("assignment[]",'history',"rows" => 5,"cols" => 96,"readonly" => true) %>
         </div>
       </td></tr>
    </table></td></tr></table>
  <% end %>
  </table>
  <%= submit_tag 'Save changed tasks' %>
<% end %>
<% else %>
<h1>No assignments</h1>
<% end %>

<% form_tag "/task_manager/csv_dump?query=#{@query}&complete=#{@show_completed}" do %>
  <%= submit_tag "Download List", :name => "csv" %>
<% end %>
