<div id="statistics_menu">
  <h1>Site Statistics</h1>
  <ul>
     <li><%= link_to('Pages Visited', :controller => 'rail_stat', :action => 'pages') %></li>
     <li><%= link_to('Applications and Referrers', :controller => 'rail_stat', :action => 'apps') %></li>
     <li><%= link_to('Languages and Locations', :controller => 'rail_stat', :action => 'locations') %></li>
     <li><%= link_to('Visit Histogram', :controller => 'rail_stat', :action => 'visits') %></li>
     <li><%= link_to('Platforms', :controller => 'rail_stat', :action => 'platform') %></li>
  </ul>
</div>
