<%= render :partial => 'menu' %>
<h1>Languages and Locations</h1>
<div id="path_stats_lang">
  <h2>Languages</h2>
  <table id="languages" class="sortable_list">
    <tr>
      <th>Language</th>
      <th>Percentage</th>
      <th>Hit Count</th>
    </tr>
    <% for language in @languages %>
    <tr<%= cycle('', " class='hl'") %>>
      <td><%= get_lang(language.language) %></td>
      <td><%= sprintf("%000.2f", (language.total.to_f/@total_visits)*100) %>%</td>
      <td><%= h(language.total) %></td>
    </tr>
    <% end %>
  </table>
</div>
<div id="path_stats_country">
  <h2>Locations</h2>
  <table id="locations" class="sortable_list">
    <tr><th>IP</th><th>Hit Count</th></tr>
    <% for country in @countries %>
    <tr<%= cycle('', " class='hl'") %>>
      <td><%= h(country["ip"]) %></td>
      <td><%= h(country["total"]) %></td>
    </tr>
    <% end %>
  </table>
</div>
