<%= render :partial => 'menu' %>
<h1>Visit Histogram</h1>
<div id="path_stats_hs">
  <table id="visits" class="sortable_list">
    <tr><th>Time Period</th><th>Total Hits</th><th>Unique Visitors</th></tr>
    <tr<%= cycle('', " class='hl'") %>>
      <td>Today</td>
      <td><%= h(@today_total) %></td>
      <td><%= h(@today_unique) %></td>
    </tr>
    <tr<%= cycle('', " class='hl'") %>>
      <td>Past 7 Days</td>
      <td><%= h(@past_7_total) %></td>
      <td><%= h(@past_7_unique) %></td>
    </tr>
    <% for day in @lastweek %>
    <tr<%= cycle('', " class='hl'") %>>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= h(day['created_on']) %></td>
          <td><%= h(day['total_visits']) %></td>
          <td><%= h(day['unique_visits']) %></td>
    </tr>
    <% end %>
    <tr<%= cycle('', " class='hl'") %>>
      <td>Since <%= @first_visit.datetime %></td>
      <td><%= h(@total_visits) %></td>
      <td><%= h(@unique_visits) %></td>
    </tr>
  </table>
  <div>
    <h2>Visits in the past week</h2>
    <%= @last_week.inspect %>
    <script language="JavaScript1.2">
    //JavaScript Graph-it! (Absolute)- by javascriptkit.com
    //Visit JavaScript Kit (http://javascriptkit.com) for script
    //Credit must stay intact for use
    //DEFINE GRAPH VALUES [Item name, absolute value]
    var visits=new Array()
    today = new Date();
    <% history_delta = 7 %>
    <% date = Date.today - history_delta %>
    <% for i in (0..history_delta) %>
      <% for day in @lastweek %>
        <% if date == day['created_on'] %>
          visits[<%= i %>]=["<%= date %>", "<%=day['total_visits']%>"];
          <% break %>
        <% else %>
          visits[<%= i %>]=["", "0"];
        <% end %>
      <% end %>
      <% date = date + 1 %>
    <% end %>
    
    //YOU CAN DEFINE MULTIPLE GRAPHS, eg:
    //var graphy=new Array()
    
    function grapvisit(g,gwidth){
      total=0
      for (i=0;i<g.length;i++)
        total+=parseInt(g[i][1])
      output='<table border="0" cellspacing="0" cellpadding="0">'
      for (i=0;i<g.length;i++){
        calpercentage=Math.round(g[i][1]*100/total)
        calwidth=Math.round(gwidth*(calpercentage/100))
        output+='<tr><td>'+g[i][0]+'&nbsp;</td><td><img src="" style="background-color: black;" width="'+calwidth+'" height="10"> '+g[i][1] +" (" + calpercentage+'%)</td></tr>'
      }
      output+='</table>'
      document.write(output+'<br />Total visits: <strong>'+total+'</strong>')
    }
    
    //CALL GRAPHIT FUNCTION
    //grapvisit(NAME OF GRAPH ARRAY, MAXIMUM WIDTH IN PIXELS)
    grapvisit(visits, 600)
    </script>
  </div>
</div>
</div>
</div>
