<table>
  <tr><th>ExpoCode</th><th>Line</th><th>Chief Scientist</th><th>Ship</th><th>Dates</th></tr>
<% for @cruise in @cruises %>
  <tr><td><%= h(@cruise.ExpoCode) %></td><td><%= h(@cruise.Line) %></td><td><%= @cruise.Chief_Scientist %></td><td><%= h(@cruise.Ship_Name) %></td><td><%= h(@cruise.Begin_Date) %></td></tr>
<% end %>
</table>
<% for p in params.keys %>
  <% if @param_list.include?(p) %>
     <p><%= p %></p>
  <% end %>
<% end %>
<h1><%= h(@test1) %></h1>
<h2><%= h(@test2) %></h2>
