<% @snooze_values = [" ","1 week", "2 weeks", "1 month", "3 months"] %>
<% @today = Time.now.strftime("%Y-%m-%d") %>
<% @assignments = Assignment.find(:all,:conditions => ["deadline < CURDATE()"]) %>
<% if @assignments.length > 0 %>
<h4>Past Due</h4>
<% form_remote_tag :url => {:action => "search_assignments",:query => @query},:update=>'results'  do %>
	<table>
	<% @ctr = 0 %>
	<% for @assignment in @assignments %>
	<% @id = @assignment.id %>
	<% if @ctr == 0 %>
	<tr>
		<td>Snooze</td>
		<td><%= link_to_remote "ExpoCode", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "ExpoCode" } %></td>
		<td><%= link_to_remote "Project/Line", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "project" } %></td>
		<td><%= link_to_remote "Parameter", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "parameter" } %></td>
		<td><%= link_to_remote "Responsible", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "cchdo_contact" } %></td>
      <td><%= link_to_remote "Contact", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "data_contact" } %></td>
      <td><%= link_to_remote "Status", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "current_status" } %> </td>
      <td><%= link_to_remote "Action", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "action" } %> </td>
      <td><%= link_to_remote "Priority", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "priority" } %></td>
      <td><%= link_to_remote "Deadline", :update => "results",:url => { :action => "search_assignments", :query => @query, :Sort => "deadline" } %></td>
   </tr>
	<% end %>
	<tr>
	<td><%= select_tag("snooze_#{@id}",options_for_select(@snooze_values)) %></td>
	<td><%= text_field("assignment[]", 'ExpoCode',"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'project' ,"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'parameter' ,"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'cchdo_contact' ,"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'data_contact',"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'current_status',"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'action',"size" => 10) %></td>
	<td><%= text_field("assignment[]", 'priority',"size" => 5) %></td>
	<td><%= text_field("assignment[]", 'deadline',"size" => 10) %></td>
	</tr>
	<% @ctr = @ctr +1 %>
	<% end %>
	<tr><td colspan="6"><%= submit_tag 'update'%></td></tr></table>
<% end %>
<% end %>
