<% if @user !~ /guest/ %>
<table>
	<thead>
	<tr>
      <th>Name</th>
      <th>Institute</th>
      <th>Country</th>
      <th>email</th>
      <th>Line</th>
      <th>ExpoCode</th>
      <th>Ship</th>
      <th>Cruise Date</th>
   </tr>
   </thead>
	<% for submission in @submissions %>
	<tr>
		<td><%= submission.name %></td>
		<td><%= submission.institute %></td>
		<td><%= submission.Country %></td>
		<td><%= submission.email %></td>
      <td><%= submission.Line %></td>
      <td><%= submission.ExpoCode %></td>
      <td><%= submission.Ship_Name %></td>
      <td><%= submission.cruise_date %></td>
      <% if submission.assigned == false %>
      <td><%= link_to_remote "Assign", :update => "assign_submission_#{submission.id}",:url => { :action => "assign_submission",:sub_id => "#{submission.id}" } %></td>
      <% end %>
   </tr>
   <tr>
      <td colspan="8"><%= submission.file %></td>
   </tr>
<tr><td colspan = "9">
	   <div id="assign_submission_<%= submission.id %>"></div>
</td></tr>
   <tr>
	   <td colspan = "9"><hr></td>
	</tr>
	<% end %>
</table>
<% end %>
