<h1>Recent Updates</h1>
<% if recent = Document.find(:all,
                             :select => 'DISTINCT ExpoCode,FileType,FileName,LastModified',
                             :conditions => ['FileType != "Directory"'],
                             :order => 'LastModified DESC', :limit => 5)
     expocode_map_hash = {}
     recent.compact.collect {|file| file.ExpoCode}.uniq.each do |expocode|
       expocode_map_hash[expocode] = Document.find(:first,
                                                   :conditions => ["FileType='Small Plot' AND ExpoCode=?",
                                                   expocode])
     end %>
  <ul>
    <% recent.compact.each do |file| %>
      <li>
      <% if expocode_map_hash[file.ExpoCode] %><a href='/search?query="<%= file.ExpoCode %>"'><img style="width: 50px; height: 50px" src="http://cchdo.ucsd.edu<%= expocode_map_hash[file.ExpoCode].FileName %>" /></a><br /><% end %>
      <%= file.ExpoCode %><br />
      <span class='date'><%= file.LastModified %></span><br />
      <a href="http://cchdo.ucsd.edu<%= file.FileName %>"><%= file.FileType %></a>
      </li>
    <% end %>
  </ul>
<% end %>
