<div class="boxed">
  <h1>vCard Import Confirmation</h1>
  <div class="box_content">
    <p>These contacts were imported from VCards.</p>
    <% @contacts.each do |contact| %>
      <table class="contact" style='background-color: #dddddd; margin-bottom: 1em;'>
        <tr><td><%= contact[:last] %>, <%= contact[:title] %> <%= contact[:first] %></td></tr>
        <tr><td><%= contact[:inst] %></td></tr>
        <tr><td><address>
                  <%= contact[:addrs] %>
                  <%= contact[:addrl] %>
                </address></td></tr>
        <tr><td>Telephone <%= contact[:tel] %></td></tr>
        <tr><td>Fax <%= contact[:fax] %></td></tr>
        <tr><td>Email <%= contact[:email] %></td></tr>
      </table>
    <% end %>
    <p><%= link_to 'Import more?', :controller => '/staff/vcard' %></p>
  </div>
  <div class="box_bottom"></div>
</div>
