<table id='tm_controls' style='width: 100%'><tr>
<td>
<% form_remote_tag :url => {:action => "search_assignments" }, :update=>'results' do %>
<%= text_field_tag "query", "all", :size => 12 %>
<%= submit_tag "Search" %>
<br />
<%= check_box_tag "complete", '1', @hide_completed_checked %>Hide Completed Tasks
<br />
<%= check_box_tag "coworkers", '1', @hide_coworkers_checked %>Hide Coworker Tasks
<% end %>
</td>
<td align='center'>
<% form_remote_tag :url => {:action => "search_assignments" }, :update=>'results' do %>
<%= submit_tag "New Assignment", :name => "New" %>
<% end %>
</td>
<td align='right'>
<% form_tag "/task_manager/csv_dump?query=#{@query}&complete=#{@show_completed}" do %>
<%= submit_tag "Download List" ,:name => "csv"%>
<% end %>
<%= link_to_remote "Manager View",:url => {:action => "manager_v"},:update => 'results' %>
</td>
<td align='right'>
<table id="task_color_key">
<tr><td class="tm_row_priority_1" width="20"></td><td>Urgent</td>	<td class="tm_row_priority_4" width="20"></td><td>Inactive</td></tr>
<tr><td class="tm_row_priority_2" width="20"></td><td>Important</td>	<td class="tm_row_priority_5" width="20"></td><td>Dead End</td></tr>
<tr><td class="tm_row_priority_3" width="20"></td><td>Low Priority</td>	<td id="tm_row_priority_6_box" width="20"></td><td>Completed</td></tr>
<tr><td class="tm_row_priority_7" width="20"></td><td>Recurring Task</td></tr>
</table>
</td>
</tr></table>

<% form_remote_tag :url => {:action => "search_assignments", :query => @query, :complete => @hide_completed, :coworkers => @hide_coworkers}, :update=>'results' do %>
<%= submit_tag %>
<table width="100%">
  <tr class="tm_header">
  <td width="158px"><%= link_to_remote "Project/Line", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "project" } %></td>
  <td width="112px"><%= link_to_remote "Parameter", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "parameter" } %></td>
  <td width="351px"><%= link_to_remote "Task", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "cchdo_contact" } %></td>
  <td width="103px"><%= link_to_remote "Responsible", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "cchdo_contact" } %></td>
  <td width="152px"><%= link_to_remote "Contact", :update => "results",:url => { :action => "search_assignments", :query => @query, :complete =>@show_completed,  :Sort => "data_contact" } %></td>
  </tr>
</table>
<div style="height: 500px; overflow: auto;">
  <table width="100%"><!-- Assignment Table -->
  <% if @assignments %>
    <% @ctr = 0 %>
    <% for @assignment in @assignments %>
      <% if @assignment[:visible] == 1 %>
        <% @id = @assignment.id %>
        <% if @assignment[:priority] >= 1 and @assignment[:priority] <= 7 
             priority = @assignment[:priority]
           else 
             priority = 'unknown'
           end %>
          <tr><td colspan="6"><!-- Single Assignment Table -->
            <table class="tm_row_priority_<%= h(priority) %>" width="100%">
              <tr class="tm_row1">
               <td class="tm_cell" width="158px"><%= text_field("assignment[]", 'project' ,"size" => 24) %></td>
               <td class="tm_cell" width="112px"><%= text_field("assignment[]", 'parameter' ,"size" => 18) %><div  class="tm_auto_complete" id="parameters_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('assignment_#{@id}_parameter','parameters_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});")%></td>
               <td class="tm_cell" width="351px"><%= text_field("assignment[]", 'action' ,"size" => 53) %></td>
               <td class="tm_cell" width="103px"><%= select("assignment[]", 'cchdo_contact', User.find(:all).collect {|p| [ p.username] }, { :include_blank => false }) %></td>
               <td class="tm_cell" width="152px"><%= text_field("assignment[]", 'data_contact',"size" => 15) %></td>
               <td style='color: #000000 !important;'><%= link_to_remote "More", :url => {:action => 'toggle', :id => "#{@assignment[:id]}_details"} %></td>
             </tr>

             <!-- Div for assignment details  -->
             <tr class="tm_row_priority_<%= h(priority) %>">
               <td colspan="7" >
               <div class="assignment_details" id=<%= @assignment[:id] %>_details style="display:none;">
                 <table width="100%"> <!-- Assignment Details Table -->
                 <tr class="assignment_details_key"><th class="assignment_details_cell">ExpoCode</th><th class="assignment_details_cell">Priority</th><th class="assignment_details_cell">Status</th><th class="assignment_details_cell">Deadline</th></tr>
                 <tr class="assignment_details_value">
                   <td><%= text_field("assignment[]", 'ExpoCode',"size" => 10) %><!--  <div class="auto_complete" id="expocodes_auto_complete"></div><%= javascript_tag("new Autocompleter.Local('assignment_#{@id}_ExpoCode','expocodes_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});")%>--></td>
                   <td><%= select("assignment[]", "priority", Priority.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => false }) %></td>
                   <td><%= text_field("assignment[]",'current_status',"size" => 6) %></td>
                   <td><%= text_field("assignment[]", 'deadline',"size" => 10) %></td>
                 </tr>
                 <tr>
                   <td colspan="4">
                     <table>
                       <tr><td class="assignment_details_key"><%= @assignment[:task_group] %> Notes</td></tr>  
                       <tr><td class="tm_text_box"><%= text_area("assignment[]",'notes',"rows" => 10,"cols" => 130,"class" => "tm_text_box") %></td></tr>
                       <tr><td class="assignment_details_key">History</td></tr>  
                       <tr><td class="tm_text_box"><%= text_area("assignment[]",'history',"rows" => 5,"cols" => 130,"readonly" => true,"class" => "tm_text_box") %></td></tr>
                     </table>
                   </td>
                 </tr>
                 </table><!-- Assignment Details Table -->
                 <%= link_to_remote "Delete this Task",:url => {:action => "hide_task", :task_id => @assignment[:id]},:update => 'results' %> 
               </div><!-- Assignment Details Div -->
               </td>
             </tr>
             </td>
           </tr>
         </table>  <!-- Single Assignment Table -->
      <% @ctr += 1 %>
      <% end %>
      <% end %>
      <% end %>
   </table><!-- Assignment Table -->
</div>
<% end %>
