<table align="center" id="task_assignments_main_table">
<tr><td align="left">
<% form_remote_tag :url => {:action => "search_assignments" },:update=>'results'  do %>
<%= text_field_tag "query","all",:size=>12%>
<%= submit_tag "Search" %>
<br>
<%= check_box_tag  "complete" %>Completed Tasks
<br>
<%= check_box_tag  "coworkers" %>Coworker Tasks
<% end %>
</td>
<%= observe_field(:complete,
                  :update => 'results', 
                  :url => {:action => :show_completed},
                  :with => 'teams') %>
<td valign="top" align="left">
   <% form_remote_tag :url => {:action => "search_assignments" },:update=>'results'  do %>
   <%= submit_tag "New Assignment" ,:name => "New"%>
   <% end %>
</td>
<td valign="top">
  <% form_tag "/task_manager/csv_dump?query=#{@query}&complete=#{@show_completed}" do %>
  <%= submit_tag "Download List" ,:name => "csv"%>
  <% end %>
  <%= link_to_remote "User View",:url => {:action => "search_assignments", :query => "all"},:update => 'results' %>
</td>
</tr>
<tr>
  <td >
  <table id="employee_names" border="1pxq">
    <tr>
      <% mod_count = 1 %>
      <% for worker in @workers %>
      <% if mod_count % 3 == 0 %>
      </tr><tr>
      <% end %>
      <td><%= h(worker.username) %></td>
      <% mod_count = mod_count + 1 %>
      <% end %>
    </tr>
  </table>
  </td>
    
    <td>
  </td>
  <td>
    <table id="task_color_key">
      <tr>
        <td class="tm_row_priority_1" width="20"></td><td>Urgent</td><td class="tm_row_priority_4" width="20"></td><td>Incomplete, Inactive</td>
      </tr>
      <tr>
        <td class="tm_row_priority_2" width="20"></td><td>Important</td><td class="tm_row_priority_5" width="20"></td><td>Incomplete, Dead End</td>
      </tr>
      <tr>
        <td class="tm_row_priority_3" width="20"></td><td>Low Priority</td><td class="tm_row_priority_6" width="20"></td><td>Completed</td>
      </tr>
      <tr>
        <td class="tm_row_priority_7" width="20" border="1px"></td><td>Recurring Task</td>
      </tr>
    </table>
  </td>
      
</tr>
<tr><td colspan="3">



<% form_remote_tag :url => {:action => "search_assignments"  ,:query=>@query, :complete =>@show_completed},:update=>'results'  do %>
<%= submit_tag %>
<table width="900px">

    <tr class="tm_header">
    <td width="108"><%= link_to_remote "Project/Line", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "project" } %></td>
    <td width="86"><%= link_to_remote "Parameter", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "parameter" } %></td>
    <td width="296"><%= link_to_remote "Action", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "cchdo_contact" } %></td>
        <td width="96"><%= link_to_remote "Responsible", :update => "results",:url => { :action => "search_assignments", :query => @query,  :complete =>@show_completed, :Sort => "cchdo_contact" } %></td>
      <td width="90"><%= link_to_remote "Contact", :update => "results",:url => { :action => "search_assignments", :query => @query, :complete =>@show_completed,  :Sort => "data_contact" } %></td>
      <td width="10"><%= link_to_remote "Pri.", :update => "results",:url => { :action => "search_assignments", :query => @query, :complete =>@show_completed,  :Sort => "priority" } %></td>

   </tr>
</table>
<div style="height:400px; width:900px; overflow:auto">
  <table width="900px" ><!-- Assignment Table -->
  <% @ctr = 0 %>
  <% for @assignment in @assignments %>
  <% @id = @assignment.id %>

  <tr><td colspan="6">
      <!-- Single Assignment Table -->
      <%if @assignment[:priority] == 1%>
          <table  width="880" class="tm_row_priority_1" cellspacing="0" cellpadding="0">
        <% elsif @assignment[:priority] == 2 %>
          <table  width="880" class="tm_row_priority_2" cellspacing="0" cellpadding="0">
      
      <% else %>
        <table  width="880" class="tm_row_priority_3" cellspacing="0" cellpadding="0">
      
        <% end %>

          <tr class="tm_row1">

             <td width="100"><%= text_field("assignment[]", 'project' ,"size" => 10,"class" => "assignment_project_cell") %></td>
             <td width="86" align="left"><%= text_field("assignment[]", 'parameter' ,"size" => 10) %>

             <div class="auto_complete" id="parameters_auto_complete"></div>
               <%= javascript_tag("new Autocompleter.Local('assignment_#{@id}_parameter','parameters_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});")%>  
             </td>
             <td width="296"><%= text_field("assignment[]", 'action' ,"size" => 40) %></td>
             <td width="96"><%= text_field("assignment[]", 'cchdo_contact' ,"size" => 11) %></td>
             <td width="90"><%= text_field("assignment[]", 'data_contact',"size" => 10) %></td>
             <td width="10"><%= text_field("assignment[]", 'priority',"size" => 2) %></td>
            </tr>
            <!-- Div for assignment details  -->
          <%if @assignment[:priority] == 1%>
           <tr class="tm_row_priority_1"  >
          <% elsif @assignment[:priority] == 2 %>
             <tr class="tm_row_priority_2" >
        <% else %>
           <tr class="tm_row_priority_3">
          <% end %>
             <td colspan="6" >
               <%= link_to_remote "Details",:url => {:action => 'toggle',:id => "#{@assignment[:id]}_details"} %>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <%= @assignment[:task_group] %> Task
             <div class="assignment_details" id=<%= @assignment[:id] %>_details style="display:none;">
            <table width="800"> <!-- Assignment Details Table -->
              <tr class="assignment_details_key">
                <td class="assignment_details_cell">ExpoCode</td>
                          <td class="assignment_details_cell">Parameter</td>
                <td class="assignment_details_cell">Status</td>
                          <td class="assignment_details_cell">Deadline</td>
              </tr>
              <tr class="assignment_details_value">
                <td><%= text_field("assignment[]", 'ExpoCode',"size" => 10) %>
                  <div class="auto_complete" id="expocodes_auto_complete"></div>
                  <%= javascript_tag("new Autocompleter.Local('assignment_#{@id}_ExpoCode','expocodes_auto_complete',parameters,{fullSearch: true, frequency: 0, minChars:1});")%>    
                </td>
                          <td><%= text_field("assignment[]",'parameter',"size" => 8) %></td>
                <td><%= text_field("assignment[]",'current_status',"size" => 6) %></td>
                          <td width="200px"><%= text_field("assignment[]", 'deadline',"size" => 10) %></td>
              </tr>
              <tr>
                <td colspan="4">
                   <table>
                     <tr><td class="assignment_details_key">Notes</td></tr>  
                       <tr><td ><%= text_area("assignment[]",'notes',"rows" => 10,"cols" => 86) %></td></tr>
                       <tr><td class="assignment_details_key">History</td></tr>  
                       <tr><td><%= text_area("assignment[]",'history',"rows" => 5,"cols" => 86,"readonly" => true) %></td></tr>
                     </table>
                </td>
              </tr>
            </table><!-- Assignment Details Table -->
             </div><!-- Assignment Details Div -->
                  </td>
               </tr>
               </td>
              </tr>
            </table>  <!-- Single Assignment Table -->
      <% @ctr = @ctr +1 %>
      <% end %>
   </table><!-- Assignment Table -->
</div>
<% end %>

</td></tr></table>
