<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CCHDO | CLIVAR & Carbon Hydrographic Data Office</title>
<%= stylesheet_link_tag 'main', 'staff', 'task_manager', 'cruise_status', :cache => 'cache/staff' %>
<%= render :partial => 'layouts/ie_compatibility' %>
</head>
<body>
<div id='centering'>
  <%= render :partial => 'layouts/cchdo_header' %>
  <div id="staff_links">
    <h1>CCHDO Staff Site</h1>
    <% if session[:user] %>
      <div id="staff_links_table">
        <%= link_to("Staff Home", :controller => "/staff") %>
        <%= link_to("Assignments", :controller => "/task_manager") %>
        <%= link_to("Data Entry", :controller => "/data_entry") %>
        <%= link_to("Recent Submissions", :controller => "/staff", :action => "submissions") %>
        <%= link_to("Cruise Information", :controller => "/cruise_status") %>
        <%= link_to("Documentation", :controller => "/cchdo_documentation") %>
        <%= link_to("Statistics", :controller => "/rail_stat") %>
        <%= link_to("Recent Updates", :controller => "/staff", :action => "recent_updates") %>
        <%= link_to("Software", :controller => "/software") %>
        <%= link_to("Sign out [#{session[:username]}]", :controller => "/staff", :action => "signout") %>
      </div>
    <% end %>
  </div>
  <div id='content'>
    <% if flash[:notice] %>
      <h1 class='notice'><%= flash[:notice] %></h1>
    <% end %>
    <%= @content_for_layout %>
  </div>
  <%= javascript_include_tag 'img_rotate', 'sortable/sortable', :defaults, :cache => 'cache/defaults' %>
  <%= render :partial => 'layouts/cchdo_footer' %>
</div><%# centering %>
</body>
</html>
