<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Webtools @ CCHDO<%= yield :title -%></title>
<%= stylesheet_link_tag 'main' -%>
<%= yield :head -%>
<%= render :partial => 'layouts/ie_compatibility' -%>
</head>
<body>
<div id='centering'>
<%= render :partial => 'layouts/cchdo_header' -%>
<div id='content'>
  <% if flash[:notice] -%>
    <h1 class='notice'><%= flash[:notice] -%></h1>
  <% end -%>
  <%= yield -%>
</div>
<%= render :partial => 'layouts/cchdo_footer' -%>
</div>
<%= javascript_include_tag 'img_rotate' -%>
<%= yield :js -%>
<%= render :partial => "layouts/tracking" -%>
</body>
</html>
